<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFL - PDF Legacy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <link rel="shortcut icon" type="image/png" href="assets/logo.png" />
    <!--TODO: webpack-->

</head>

<body>
    <!--WELCOME PAGE-->
    <div id="welcome-page" class="app-view">
        <div id="message-wrong-type-fileupload" class="hidden">
            <h2>The uploaded file is not a pdf</h2>
        </div>
        <div id="uploader-container">
            <div id="layout">
                <div id="text">
                    <img src="assets/logo.png" id="black-logo-welcome-page" />
                    <h1 class="font-header">PDF <br>
                        <h1 class="font-header" id="second-text">Legacy </h1>
                    </h1>
                    <h1 class="third-text">YOUR PAPER,</h1>
                    <span id="media-text">
                        <h1 class="third-text"> BUT </h1>
                        <h1 class="font-header better"> BETTER </h1>
                    </span>
                    <div class="inline">
                        <div id="uploader-container-input">
                            <form id="file-upload-form">
                                <input type="file" name="file-upload" accept="application/pdf" id="file-open" />
                                <label for="file-open" id="file-drag">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    <div>Select a file or drag here</div>
                                </label>
                            </form>
                        </div>
                        <button class="btn-welcome pointer">
                            <div>About Us
                                <span aria-hidden="true" data-icon="+" />
                            </div>
                        </button>
                    </div>
                </div>
                <div class="column">
                    <section class="carousel" aria-label="carousel" Tabindex="0">
                        <div class="slides">
                            <div class="slides-item slide-1" id="slide-1" aria-label="slide 1 of 5" tabindex="0">
                                <div class="card">
                                    <img src="assets/searchs.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>Explore your paper and Cross-References</b></h4>
                                        <p class="text-card-welcome-page">Read your paper with an extra gear. Hover the
                                            references
                                            and extract data from them. You
                                            can also have two pages open, so you can view the contents of the reference
                                            at the same
                                            time</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slides-item slide-2" id="slide-2" aria-label="slide 2 of 5" tabindex="0">
                                <div class="card">
                                    <img src="assets/summary.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>Summarize your paper</b></h4>
                                        <p class="text-card-welcome-page">A text wall? Summarize your paper for each key
                                            component in a few
                                            lines! You can also select just a piece of text with the mouse</p>
                                    </div>
                                </div>
                            </div>
                            <div class="slides-item slide-3" id="slide-3" aria-label="slide 3 of 5" tabindex="0">
                                <div class="card">
                                    <img src="assets/graph.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>Make your knowledge graph</b></h4>
                                        <p class="text-card-welcome-page">Discover the knowledge graph that showing the
                                            citation
                                            relations of all the papers in
                                            the references section of your current paper. This can help to understand
                                            the relations
                                            between each work better.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="slides-item slide-4" id="slide-4" aria-label="slide 4 of 5" tabindex="0">
                                <div class="card">
                                    <img src="assets/highligh.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>Highligh commonly used, topic-specific phrasings
                                            </b></h4>
                                        <p class="text-card-welcome-page">A paper can involve using many typical
                                            phrases/sentences
                                            for introduction, background description and experiment result analyses.
                                            Identifying and
                                            highlighting these sentences
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!--INPUT PAGE-->
    <div id="input-page" hidden class="app-view">
        <div id="uploader-container-input">
            <form id="file-upload-form">
                <input type="file" name="file-upload" accept="application/pdf" id="file-open" />
                <label for="file-open" id="file-drag">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Select a file or drag here</div>
                    <div class="hidden">Please select a pdf file</div>
                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                </label>
            </form>
        </div>
        <div id="logo">
            <img src="assets/green_logo.png" id="green-logo" />
        </div>
    </div>
    <!--PDF READER-->
    <div id="pdf-viewer" hidden class="app-view">
        <!--SideToolBar-->
        <div id="sidenav">
            <div class="sidetoolbar">
                <a>
                    <i class="material-icons" id="search">search</i>
                    <span class="tooltip-text" id="right">Search words in the paper</span>
                </a>
            </div>
            <div class="sidetoolbar">
                <a>
                    <i class="material-icons" id="prev-page">chevron_left</i>
                </a>
                <p id="num-pages">
                    <span id="page-num"></span>/
                    <span id="page-count"></span>
                    <span class="tooltiptext">Page <input type="number" value="1" id="current-page" /> of <span
                            id="page-count"></span></span>
                </p>
                <a>
                    <i class="material-icons" id="next-page">chevron_right</i>
                </a>
                <hr>
                <a href=" #">
                    <i class="material-icons" id="zoom-in">zoom_in</i>
                </a>
                <a>
                    <i class="material-icons" id="zoom-out">zoom_out</i>
                </a>
            </div>
            <div class="sidetoolbar">
                <a>
                    <i class="material-icons" id="graph-maker">schema</i>
                    <span class="tooltip-text" id="right">Make the knowledge graph</span>
                </a>

            </div>
            <div class="sidetoolbar">
                <a>
                    <i class="material-icons" id="summary-maker">summarize</i>
                    <span class="tooltip-text" id="right">Summarize your paper</span>
                </a>
            </div>
            <div class="sidetoolbar">
                <a>
                    <i class="material-icons" id="full-screen">fullscreen</i>
                    <span class="tooltip-text" id="right">Open full screen view</span>
                </a>
            </div>
        </div>
        <nav id="navbar">
            <!-- LOGO -->
            <div id="padding">
                <img src="assets/logo.png" class="black-logo" />
            </div>
            <!-- NAVIGATION MENU -->
            <ul id="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox-toggle" />
                <label for="checkbox-toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div id="menu">
                    <li><a><label for="open-new-pdf" class="open-new">
                                Open new pdf
                            </label>
                            <input id="open-new-pdf" type="file" accept="application/pdf" /></a>
                    </li>
                </div>
            </ul>
        </nav>

        <div id="loader">
            <img src="assets/logo_white.png" alt="loading..." id="logo-loader" />
        </div>

        <div id="main">
            <div id="message-wrong-type-fileupload-reader" class="hidden">
                <h2>The uploaded file is not a pdf</h2>
            </div>
            <div id="pdf-container" class="full-width"></div>
            <div id="pop-up" class="hidden">
                <div id="content-reference-div">
                    <p id="pop-up-title" class="hidden"></p>
                    <hr id="hr-pop-up" class="hidden">
                    <div id="pop-up-text" class="hidden"></div>
                    <div id="pop-up-image" class="hidden"></div>
                </div>
                <button id="side-page-reference-btn">
                    <a><i class="material-icons" id="open-in-the-side-icon">open_in_new</i></a></button>
            </div>

            <div id="side-page" class="no-width">
                <div id="side-page-loader">
                    <div id="loader-bubbles">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                    <div id="error-message-div" class="hidden">
                        <img src="assets/logo_broken.png" alt="heart broken" id="logo-broken" />
                        <p id="error-message">Ops, <br> the knowledge graph could not be generated for this pdf :(
                        </p>
                    </div>
                </div>
                <a id="close-btn" class="closebtn">&times;</a>
                <div id="paper-info" class="hidden">
                    <h2 class="info-title">Paper Info:</h2>
                    <div class="info-display">
                        <span class="info-label">Title: </span>
                        <span class="info-text" id="title-info">Test</span>
                    </div>
                    <div class="info-display">
                        <span class="info-label">Author: </span>
                        <span class="info-text" id="author-info">Test 2 </span>
                    </div>
                    <div class="info-display">
                        <span class="info-label">Field of study: </span>
                        <span class="info-text" id="field-info">Test 3</span>
                    </div>
                </div>
                <div id="slider-container">
                    <div id="slider">
                        <input type="range" min="1" max="2" value="1" name="graph-depth" id="graph-depth" step="1">
                        <div id="labels-slider">
                            <span>1</span><span>2</span>
                        </div>
                    </div>
                </div>

                <div id="knowledge-graph"></div>
                <i class="material-icons" id="question-mark">question_mark
                    <span class="tooltiptext">
                        <div class="tooltip-margin">
                            <div class="css-slider" id="field-colors"></div>
                        </div>
                    </span>
                </i>
            </div>

            <div id="side-page-summary" class="hidden">
                <a id="close-btn-summary" class="hidden">&times;</a>
                <div id="accordion-container">
                    <button id="tldr" class="accordion">TLDR</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam mi sit amet
                            vestibulum. Etiam porttitor lacinia tortor, a efficitur orci. Nam pharetra volutpat neque,
                            at
                            semper velit posuere eget. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada
                            fames ac turpis egestas. Morbi in malesuada felis. Vivamus volutpat lacinia porttitor.</p>
                    </div>

                    <button id="abstract" class="accordion">ABSTRACT</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam mi sit amet
                            vestibulum. Etiam porttitor lacinia tortor, a efficitur orci. Nam pharetra volutpat neque,
                            at
                            semper velit posuere eget. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada
                            fames ac turpis egestas. Morbi in malesuada felis. Vivamus volutpat lacinia porttitor.</p>
                    </div>

                    <button id="summary-abstract" class="accordion">ABSTRACT SUMMARY</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam mi sit amet
                            vestibulum. Etiam porttitor lacinia tortor, a efficitur orci. Nam pharetra volutpat neque,
                            at
                            semper velit posuere eget. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada
                            fames ac turpis egestas. Morbi in malesuada felis. Vivamus volutpat lacinia porttitor.</p>
                    </div>

                    <button id="selected-text-summary" class="accordion">SELECTED TEXT SUMMARY</button>
                    <div class="panel">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue aliquam mi sit amet
                            vestibulum. Etiam porttitor lacinia tortor, a efficitur orci. Nam pharetra volutpat neque,
                            at
                            semper velit posuere eget. Pellentesque habitant morbi tristique senectus et netus et
                            malesuada
                            fames ac turpis egestas. Morbi in malesuada felis. Vivamus volutpat lacinia porttitor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--floating button hidden for now-->
    <!--<div class="floating-container">
            <div class="floating-button">
                <i class="material-icons">menu
                </i>
            </div>
            <div class=" element-container">
                <span class="float-element">
                    <i class="material-icons">bolt
                    </i>
                </span>
                <span class="float-element">
                    <i class="material-icons">download</i>
                </span>
                </span>
                <span class="float-element">
                    <i class="material-icons">publish</i>
                </span>
            </div>
        </div> -->

    </div>
    <script src="main.bundle.js"></script>
</body>

</html>