<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFL - PDF Legacy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="shortcut icon" type="image/png" href="assets/logo.png" />
    <!--TODO: webpack-->

</head>

<body>
    <!--WELCOME PAGE-->
    <div id="welcome-page" class="app-view">
        <div id="message-wrong-type-fileupload" class="hidden">
            <h2>The uploaded file is not a pdf</h2>
        </div>
        <div id="uploader-container">
            <div id="layout">
                <div id="text">
                    <h1 class="font-header">PDF <br>
                        <h1 class="font-header" id="second-text">Legacy </h1>
                    </h1>
                    <h1 class="third-text">YOUR PAPER,</h1>
                    <span id="media-text">
                        <h1 class="third-text"> BUT </h1>
                        <h1 class="font-header better"> BETTER </h1>
                    </span>
                    <div class="inline">
                        <div id="uploader-container-input">
                            <form id="file-upload-form">
                                <input type="file" name="file-upload" accept="application/pdf" id="file-open" />
                                <label for="file-open" id="file-drag">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    <div>Select a file or drag here</div>
                                </label>
                            </form>
                        </div>
                        <button id="btn-about" class="btn-welcome">
                            <div>About Us
                                <span aria-hidden="true" data-icon="+">
                            </div>
                        </button>
                        <button class="btn-welcome" id="tutorial-welcome-page">
                            <div>Tutorial Page
                                <span aria-hidden="true" data-icon="+">
                            </div>
                        </button>
                    </div>
                </div>
                <div class="column">
                    <div id="carousel">
                        <s id="s1"></s>
                        <s id="s2"></s>
                        <s id="s3"></s>
                        <s id="s4"></s>
                        <div class="slider">
                            <div>
                                <div class="card">
                                    <img src="assets/search.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>Explore paper and Cross-References</b></h4>
                                        <p class="text-card-welcome-page">Read the paper with an extra gear. Hover the
                                            references
                                            and extract data from them. You
                                            can also have two pages open, so you can view the contents of the reference
                                            at the same
                                            time</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card">
                                    <img src="assets/summary.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>Summarize the paper</b></h4>
                                        <p class="text-card-welcome-page">A text wall? Summarize your paper for each key
                                            component in a few
                                            lines! You can also select just a piece of text with the mouse</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card">
                                    <img src="assets/graph.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>Make the knowledge graph</b></h4>
                                        <p class="text-card-welcome-page">Discover the knowledge graph that showing the
                                            citation
                                            relations of all the papers in
                                            the references section of your current paper. This can help to understand
                                            the relations
                                            between each work better.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card">
                                    <img src="assets/highlight.png" class="icon-welcome-page" />
                                    <div class="container">
                                        <h4><b>
                                                Highlight commonly used, topic-specific phrasings
                                            </b></h4>
                                        <p class="text-card-welcome-page">A paper can involve using many typical
                                            phrases/sentences
                                            for introduction, background description and experiment result analyses.
                                            We identifying and
                                            highlighting these sentences
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bullets">
                            <a href="#s1"></a>
                            <a href="#s2"></a>
                            <a href="#s3"></a>
                            <a href="#s4"></a>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="footer-text">
                    <div>Check our github page for more details <span>&#9829;</span> :
                        <a href="https://github.com/matteovisotto/PDFL-PDFLegacy"> PDFL-PDFLegacy</a>
                    </div>
                    <p>Maintained by the
                        <a href="https://www.fer.unizg.hr/rasip/dsd/projects/clippy_2/team_members">core team</a>
                        with help from our contributors :
                        <a href="https://xiaofeixie.bitbucket.io/">@Xiaofei Xie</a> &amp;
                        <a href="https://thepatrickstar.github.io/">@Yuekang Li</a> &amp;
                        <a href="https://scholar.google.com/citations?user=idlExzkAAAAJ&hl=en">@Yun Tang</a>.
                    </p>
                </div>
            </footer>
        </div>
        <div id="logo">
            <img src="assets/logo.png" class="black-logo" />
        </div>
        <div id="abt-tutorial" class="hidden">
            <div class="tutorial-window hidden" id="about-tutorial-window">
                <div style="text-align: end">
                    <a id="close-about" style="font-size: 50px;cursor:pointer">&times;</a>
                </div>
                <div class="container" style="margin-top:-15px">
                    <div class="about-title">Background</div>
                    &nbsp;
                    <div class="about-description">
                        Couple of young and diligent students decided to enroll a hard and time consuming product in which they choose to do something valueable for society and develop a pdf reader as a part of college course.
                        <br>It consists of 7 students that were split from two countries, 4 of them are placed in  <b>Politecnico di Milano</b> in <b>Italy</b> and 3 are from <b>University of Zagreb</b> in <b>Croatia</b>. <br>
                        With almost no knowing of each other, they decided to enroll in this project completely in a course of 3 months.
                        <br>With the help of their supervisors and sponsors, they menaged to finish this project almost completely and make this product viable for everyone to use it.
                        
                    </div>
                    &nbsp;
                    <div class="about-title">The product</div>
                    &nbsp;
                    <div class="about-description">Reading <b>PDFs</b> is now an everyday action for all researchers, but manually searching for references, citations, figures, etc. contained in them can lead to wasted time. 
                        <br/> The product has the target of creating a new reading experiences with more functionalities that helps readers to organize the most important information of the documents.
                        The main keys are the generation of a knowledge graph and a smart cross-reference visualization.
                        <br><b>PDF Legacy</b> offers everyone a solution to these problems and much more. Some of them are:
                        <ol>
                            <li><em>Resolving and presenting cross-reference items in pop-up window</em></li>
                            <li><em>Building a knowledge graph showing citation relations of referenced papers</em></li>
                            <li><em>Generating summarizations of key paper components</em></li>
                            <li><em>Highlight topic-specific phrases</em></li>
                        </ol>
                    </div>
                    &nbsp;
                    <div class="about-title">ICSE SCORE 2023</div>
                    &nbsp;
                    <div class="about-description">
                        <b>The SCORE Contest</b> is aimed at promoting and fostering software engineering in universities worldwide. 
                        Teams from all over the world participate in a competition for students from undergraduate to master's level. <br>
                        Each team is developing a software project chosen from a list of projects proposed and sponsored by program committee members. 
                        The final deliverable is a report and an accompanying executable system. 
                        <br>The evaluation is based on the quality of all aspects of the software engineering process followed, as well as the resulting system.
                        <br><b>SCORE 2023 Contest</b> will run from <b>April 2022 to March 2023</b>. Finalist teams will be invited to <b>ICSE 2023</b> in <b>Melbourne, Australia</b>.
                    </div>
                </div>
                <div  style="text-align: end;padding-top: 35px;">
                    <img src="assets/logo.png" class="black-logo" />
                </div>
            </div>
        </div>
    </div>
    <!--INPUT PAGE-->
    <div id="input-page" hidden class="app-view">
        <div id="uploader-container-input">
            <form id="file-upload-form">
                <input type="file" name="file-upload" accept="application/pdf" id="file-open" />
                <label for="file-open" id="file-drag">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Select a file or drag here</div>
                    <div class="hidden">Please select a pdf file</div>
                    <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                </label>
            </form>
        </div>
        <div id="logo">
            <img src="assets/green_logo.png" id="green-logo" />
        </div>
    </div>
    <!--PDF READER-->
    <div id="pdf-viewer" hidden class="app-view">
        <div id="thumbnail" class="hidden"></div>
        <nav id="navbar">
            <div id="start">
                <input type="checkbox" id="checkbox-toggle" />
                <label for="checkbox-toggle" id="pages-sidebar" class="hamburger scale-on-hover">&#9776;</label>
                <div class="verticalToolbarSeparator"></div>
                <span id="title"></span>
            </div>
            <div id="center">
                <a class="scale-on-hover">
                    <i class="material-icons" id="prev-page">chevron_left</i>
                </a>
                <p id="num-pages">
                    <input type="number" value="1" id="current-page" /> / <span id="page-count"></span>
                </p>
                <a class="scale-on-hover">
                    <i class="material-icons" id="next-page">chevron_right</i>
                </a>
                <a class="scale-on-hover">
                    <i class="material-icons" id="zoom-in">zoom_in</i>
                </a>
                <input type="text" value="100%" aria-label="Zoom level" id="zoom-level">
                <a class="scale-on-hover">
                    <i class="material-icons" id="zoom-out">zoom_out</i>
                </a>
            </div>
            <div id="end">

                <a class="padding">
                    <a id="home-btn-navbar" class="scale-on-hover padding">
                        <label class="open-new">
                            <i class="material-icons">
                                home
                            </i>
                        </label>
                    </a>
                    <a class="scale-on-hover padding">
                        <label for="open-new-pdf" class="open-new">
                            <i class="material-icons">
                                upload_file
                            </i>

                        </label>
                        <input id="open-new-pdf" type="file" accept="application/pdf" />
                        <span class="tooltip-text w-120">Open new paper</span>
                    </a>
                </a>
                <a class="scale-on-hover padding">
                    <div id="toggle">
                        <div>
                            Highlight
                        </div>
                        <div>
                            <label class="switch">
                                <input id="highlight-toggle" type="checkbox">
                                <span class="slider round">
                                </span>
                                <span class="tooltip-text">Highlight typical phrases/sentences
                                    <i class="material-icons question-mark-tutorial"
                                        id="tutorial-highlight">question_mark</i>
                                </span>
                            </label>
                        </div>
                    </div>
                </a>
                <a class="scale-on-hover padding">
                    <i class="material-icons" id="graph-maker">schema</i>
                    <span class="tooltip-text w-180">Make the knowledge graph
                        <i class="material-icons question-mark-tutorial" id="tutorial-graph">question_mark
                        </i></span>
                </a>
                <a class="scale-on-hover padding">
                    <i class="material-icons" id="summary-maker">summarize</i>
                    <span class="tooltip-text w-140">Summarize your paper
                        <i class="material-icons question-mark-tutorial" id="tutorial-summary">question_mark</i>
                    </span>
                </a>
                <div class="verticalToolbarSeparator"></div>
                <a class="scale-on-hover padding">
                    <i class="material-icons" id="full-screen">fullscreen</i>
                    <span class="tooltip-text w-120">Open full screen view
                    </span>
                </a>
                <div class="verticalToolbarSeparator"></div>
                <a class="scale-on-hover padding">
                    <i class="material-icons" id="question-mark-margin">question_mark</i>
                    <span class="tooltip-text w-90">Help</span>
                </a>
            </div>
        </nav>

        <div id="loader">
            <img src="assets/logo_white.png" alt="loading..." id="logo-loader" />
        </div>

        <div id="tutorial" class="hidden">
            <div class="tutorial-window hidden" id="highlight-tutorial-window">
                <img src="assets/TutorialGif/highlight.gif" alt="Tutorial Gif Highlight" class="gif-tutorial">
                <div class="container">
                    <h4><b>Highlight commonly used, topic-specific phrasings</b></h4>
                    <p>A paper can involve using many typical phrases/sentences for introduction, background description
                        and experiment result analyses.
                        With this tool you can identify and highlight these sentences.<br><br>To do it:</p>
                    <ul>
                        <li>
                            <p>Active the "Highlight" toggle in navigation bar.</p>
                        </li>
                        <li>
                            <p>Scroll the paper and see highlighted sentences.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tutorial-window hidden" id="graph-tutorial-window">
                <img src="assets/TutorialGif/knowledge-graph.gif" alt="Tutorial Gif Graph" class="gif-tutorial">
                <div class="container">
                    <h4><b>Knowledge Graph</b></h4>
                    <p> Knowledge graph contains nodes representing papers that can be citing another paper or that can
                        be cited by another paper. The middle node
                        represent the
                        paper that is currently open and the nodes around it represent papers being cited by or
                        citing that paper.</p>
                    <ul>
                        <li>
                            <p>Zoom in/out on the graph: scroll up/down on your mouse while hovering the graph window.
                            </p>
                        </li>
                        <li>
                            <p>Move around the graph: click and drag inside the graph window.</p>
                        </li>
                        <li>
                            <p>Get information about specific node: hover over node and paper title will be displayed
                                over node as well as popup with paper title, authors and fields of study will appear.
                            </p>
                        </li>
                        <li>
                            <p>Inital graph depth is one, you can click on the slider in the graph
                                window to display depth two which expands some (not all) nodes displayed initially to
                                see even more correlated papers.</p>
                        </li>
                        <li>
                            <p>Get correlated papers of specific node: click on desired node and it will be expanded
                                with nodes representing the papers correlated to paper represented by that node.</p>
                        </li>
                        <li>
                            <p>Hover over a question mark at the bottom right of the
                                graph window and the color legend will appear. Legend explains the connection
                                between node color and field of study of the paper represented by node.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tutorial-window hidden" id="summary-tutorial-window">
                <img src="assets/TutorialGif/summary.gif" alt="Tutorial Gif Summary" class="gif-tutorial">
                <div class="container">
                    <h4><b>Summarize your paper</b></h4>
                    <p>A text wall? Summarize the paper you are reading to just a few sentences!
                        You can also select a piece of text with the mouse, click on the popup icon that then appears
                        and have that selected text summarized.<br><br>To do it:</p>
                    <ul>
                        <li>
                            <p>Click the summary button in the navigation bar and a side page will be displayed with the
                                following accordion items:</p>
                        </li>
                        <li>
                            <p>TLDR: "Too Long Didn't Read" - summary of the whole paper in just a few sentences.</p>
                        </li>
                        <li>
                            <p>ABSTRACT: Summary of the paper or entire thesis.</p>
                        </li>
                        <li>
                            <p>ABSTRACT SUMMARY: Summary of the abstract of the paper.</p>
                        </li>
                        <li>
                            <p>SELECTED TEXT SUMMARY: Summary of selected piece of text. When a new text is selected,
                                the content of this summary is accordingly changed.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="main">
            <div id="message-wrong-type-fileupload-reader" class="hidden">
                <h2>The uploaded file is not a pdf</h2>
            </div>
            <div id="pdf-container" class="full-width"></div>
            <div id="pop-up" class="hidden">
                <div id="content-reference-div">
                    <p id="pop-up-title" class="hidden"></p>
                    <hr id="hr-pop-up" class="hidden">
                    <div id="pop-up-text" class="hidden"></div>
                    <div id="pop-up-image" class="hidden"></div>
                </div>
                <button id="side-page-reference-btn">
                    <a><i class="material-icons" id="open-in-the-side-icon">open_in_new</i></a></button>
            </div>

            <div id="pop-up-selection" class="hidden">
                <button id="summary-selection">
                    <a><i class="material-icons" id="summary-selection">summarize</i></a></button>
            </div>

            <div id="side-page" class="no-width">
                <div id="side-page-loader">
                    <div id="loader-bubbles">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                    <div id="error-message-div" class="hidden">
                        <img src="assets/logo_broken.png" alt="heart broken" id="logo-broken" />
                        <p id="error-message">Ops, <br> the knowledge graph could not be generated for this pdf :(
                        </p>
                    </div>
                </div>
                <a id="close-btn">&times;</a>
                <div id="paper-info" class="hidden">
                    <h2 class="info-title">Paper Info:</h2>
                    <div class="info-display">
                        <span class="info-label">Title: </span>
                        <span class="info-text" id="title-info">Test</span>
                    </div>
                    <div class="info-display">
                        <span class="info-label">Author: </span>
                        <span class="info-text" id="author-info">Test 2 </span>
                    </div>
                    <div class="info-display">
                        <span class="info-label">Field of study: </span>
                        <span class="info-text" id="field-info">Test 3</span>
                    </div>
                </div>
                <div id="knowledge-graph-container" class="hidden">
                    <div id="slider-container">
                        <div id="slider">
                            <input type="range" min="1" max="2" value="1" name="graph-depth" id="graph-depth" step="1">
                            <div id="labels-slider">
                                <span>1</span><span>2</span>
                            </div>
                        </div>
                    </div>
                    <div id="knowledge-graph"></div>
                    <i class="material-icons" id="question-mark">question_mark
                        <span class="tooltiptext">
                            <div class="tooltip-margin">
                                <div class="css-slider" id="field-colors"></div>
                            </div>
                        </span>
                    </i>
                </div>
                <div id="side-page-summary" class="hidden">
                    <div id="accordion-container">
                        <button id="tldr" class="accordion">TLDR</button>
                        <div class="panel">
                            <p id="tldr-text">Loading...</p>
                        </div>

                        <button id="abstract" class="accordion">ABSTRACT</button>
                        <div class="panel">
                            <p id="abstract-text">Loading...</p>
                        </div>

                        <button id="summary-abstract" class="accordion">ABSTRACT SUMMARY</button>
                        <div class="panel">
                            <p id="abstract-summary-text">Abstract summary cannot be generated</p>
                        </div>

                        <button id="selected-text-summary" class="accordion">SELECTED TEXT SUMMARY</button>
                        <div class="panel" id="selected-summary-text-panel">
                            <p id="selection-summary-text">Select a text in the PDF and click the button to generate the
                                summary</p>
                        </div>
                    </div>

                </div>

            </div>
            <div id="reference-container" class="moveIn hidden">
                <canvas id="reference-canvas" class="canvas__container moveIn"></canvas>
                <button id="reference-close-btn" class="moveIn"><a>×</a></button>
            </div>
        </div>

    </div>
    <!--TUTORIAL PAGE-->
    <div id="tutorial-page" hidden class="app-view">
        <div id="tutorial-text">
            <h1 id="overview">Getting Started</h1>
            <p>PDFLegacy is a tool to provide better reading experiences for researchers. This PDF reader has four key
                features:
            <ul>
                <li>Extract essential information (such as
                    figures, references, etc.) from the paper
                </li>
                <li>
                    Mine knowledge from the extracted information to help with paper comprehension and inspire new
                    research
                    ideas by looking at correlated papers
                </li>
                <li>
                    Generating/mining summarizations for key components of the paper
                </li>
                <li>
                    Highlighting commonly used, topic-specific phrasings
                </li>
            </ul>
            The project is open source and you can contribute here: <a
                href="https://github.com/matteovisotto/PDFL-PDFLegacy">PDFL-PDFLegacy</a> <br>
            Checkout also our Chrome plug-in at: <a
                href="https://chrome.google.com/webstore/detail/pdf-legacy/cnfmfaohminlbglpkfhbofiolmndonkj">PDFL-PDFLegacy
                Chrome Web Store</a>
            </p>
            <h2 id="explore-title">Explore your paper</h2>
            <p>
                Read the paper with an extra gear. After you upload a paper you can:
            <ul>
                <li>
                    Navigate through pages
                    <ul>
                        <li>
                            Click on the buttons <i class="material-icons">chevron_left</i><i
                                class="material-icons">chevron_right</i>
                        </li>
                        <li>
                            Scroll with the mouse
                        </li>
                        <li>
                            Press on the arrow keys on the keyboard
                        </li>
                        <li>
                            Or change page number from the input box
                        </li>
                    </ul>
                </li>
                <li>
                    Zoom in and out
                    <ul>
                        <li>
                            Click on the buttons <i class="material-icons">zoom_in</i> <i
                                class="material-icons">zoom_out</i>
                        </li>
                        <li>
                            Press ctrl/cmd+ '+' or ctrl/cmd+ '-'
                        </li>
                        <li>
                            Or change percentage from the input box
                        </li>
                    </ul>
                </li>
                <li>
                    Select text from the paper
                </li>
                <li>
                    Reach page faster by clicking on the button &nbsp;<label>&#9776;</label>&nbsp;
                    and scroll through thumbnails of the pages
                </li>
            </ul>
            </p>
            <h2 id="cross-references-title">Cross References</h2>
            <p> Hover the references and extract data from them.
            <ul>
                <li>
                    Finding a reference and hover it
                    <ul>
                        <li>
                            Image reference: a small popup and a button will be displayed
                        </li>
                        <li>
                            Text reference: you will see an extraction of it and a button
                        </li>
                        <li>
                            Page reference: a button will be displayed
                        </li>
                    </ul>
                </li>
                <li>
                    If you click the button, the page of the reference (entire page) will be open and you will have a
                    two page layout.
                    You can also select text from it
                </li>
            </ul>
            </p>
            <h2 id="knowledge-graph-title">Knowledge Graph</h2>
            <p> Create a knowledge graph showing the citation relations of all the papers in the "references section" of
                the current paper.
                This can help you to understand the relations between each work better.
                Knowledge graph contains nodes representing papers that can be citing another paper or that can be cited
                by another paper.
                These relationships are visualized by the direction of an arrow on a link between two nodes.
                Arrow pointing to node means that paper represented by that node is being cited in paper which is
                represented by node at the other end of the link.
                Click on the knowledge graph button in the navigation bar to generate the knowledge graph. Initially
                displayed graph has a middle node representing the
                paper that is currently being read and the nodes around it represent papers being cited by or citing
                that paper.
            <ul>
                <li>
                    To generate the knowledge graph click the button on the navigation bar <i
                        class="material-icons">schema</i>
                    <br> or press ctrl/cmd+ 'g'
                </li>
                <li>
                    Explore it:
                    <ul>
                        <li>
                            Zoom in/out on the graph: scroll up/down on your mouse while hovering the graph window.
                        </li>
                        <li>
                            Move around the graph: click and drag inside the graph window.
                        </li>
                        <li>
                            Get information about specific node: hover over node and paper title will be displayed over
                            node as well as popup with paper title, authors and fields of study will appear.
                        </li>
                        <li>
                            Change graph depth: inital graph depth is one, you can click on the slider in the graph
                            window to display depth two which expands some (not all) nodes displayed initially to see
                            even more correlated papers.
                        </li>
                        <li>
                            Get correlated papers of specific node: click on desired node and it will be expanded with
                            nodes representing the papers correlated to paper represented by that node.
                        </li>
                        <li>
                            Display the node color legend: hover over a question mark at the bottom right of the graph
                            window and the color legend will appear. Legend explains the connection
                            between node color and field of study of the paper represented by node. Legened has four
                            pages which can be switched by clicking on circled in the legend.
                        </li>
                    </ul>
                </li>
                <li>
                    To close it just click the cross icon
                </li>
            </ul>
            </p>
            <h2 id="summary-title">Summary</h2>
            <p> Summarize your paper for each key component in a few lines!
            <ul>
                <li>
                    To open the side page relative to summary click the button on the navigation bar <i
                        class="material-icons">summarize</i> <br> or press ctrl/cmd+ 'y'
                </li>
                <li>
                    The summary is relative to four element
                    <ul>
                        <li>
                            TLDR: "Too Long Didn't Read" - summary of the whole paper in just a few sentences.
                        </li>
                        <li>
                            Abstract: Summary of the paper or entire thesis.
                        </li>
                        <li>
                            Abstract Summary: Summary of the abstract of the paper.
                        </li>
                        <li>
                            Selected Text Summary: Summary of selected piece of text. When a new text is selected, the
                            content of this summary is accordingly changed.
                            <ul>
                                <li>
                                    Select text with the mouse and a button will be displayed <i
                                        class="material-icons">summarize</i>, click on it and you will see the relative
                                    summary
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    To close it just click the cross icon
                </li>
            </ul>
            </p>
            <h2 id="highlight-title">Highlight commonly used, topic-specific phrasings</h2>
            <p> A paper can involve using many typical phrases/sentences for introduction, background description and
                experiment result analyses.
                With this tool you can identify and highlight these sentences.
            <ul>
                <li>Active the "Highlight" toggle in navigation bar.</li>
                <li>Scroll the paper and see highlighted sentences.</li>
            </ul>
            </p>
            <h2 id="shortcuts-title">Shortcuts</h2>
            <p>
            <ul>
                <li>ZOOM IN: ctrl/cmd+ '+'</li>
                <li>ZOOM OUT: ctrl/cmd+ '-'</li>
                <li>NEXT PAGE: right arrow</li>
                <li>PREVIOUS PAGE: left arrow</li>
                <li>UPLOAD NEW FILE: ctrl/cmd+ 'u'</li>
                <li>GENERATE KNOWLEDGE GRAPH: ctrl/cmd+ 'g'</li>
                <li>OPEN SUMMARY: ctrl/cmd+ 'y'</li>
            </ul>
            </p>
        </div>
        <div class="sidenav">
            <button id="back-btn" class="scale-on-hover"><img src="assets/logo_white.png"
                    class="black-logo" />&nbsp;&nbsp;GO BACK</button>
            <br><br><br>
            <a href="#overview">Overview</a>
            <a href="#explore-title">EXPLORE</a>
            <a href="#cross-references-title">CROSS REFERENCES</a>
            <a href="#knowledge-graph-title">KNOWLEDGE GRAPH</a>
            <a href="#summary-title">SUMMARY</a>
            <a href="#highlight-title">HIGHLIGHT SENTENCES</a>
            <a href="#shortcuts-title">SHORTCUTS</a>
        </div>
    </div>
    <script src="main.bundle.js"></script>
</body>

</html>