@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

#documentation-page{
    background: rgb(53, 53, 53);
    margin: 0;
    overflow: hidden;
}

.sidenav {
    height: 100vh;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 2%;
    overflow-x: hidden;
    padding-top: 20px;
  }
.sidenav > a {
    padding: 6px 8px 15px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-family: Montserrat, 'Times New Roman', serif;
    font-weight: 600;
    font-size: 13px;
    text-align: left;
  }
.sidenav > a:hover {
    color: var(--color);
  }
#overview:target ~ .sidenav >*:nth-child(1) {color: white;}
#explore-title:target ~ .sidenav >*:nth-child(2) {color: #71d2df;}
#knowledge-graph-title:target ~ .sidenav >*:nth-child(3) {color: #f6db40;}
#cross-references-title:target ~ .sidenav >*:nth-child(4) {color: #6599ed;}
#summary-title:target ~ .sidenav >*:nth-child(5) {color: #8360f4;}
#highlight-title:target ~ .sidenav >*:nth-child(6) {color: #db535b;}


#documentation-text{
    position: relative;
    width: 60vw;
    left: 15%;
    font-family: Montserrat, 'Times New Roman', serif;
    text-align: justify;
    color: rgb(255, 255, 255);
    padding-top: 60px;
    padding-bottom: 200px;
}
#knowledge-graph-title{color: #f6db40;}
#explore-title{color: #71d2df;}
#highlight-title{color: #db535b;}
#cross-references-title{color: #6599ed;}
#summary-title{color: #8360f4;}

.icon-documentation-page{
  width: 35px;
  float: left;
  margin-right: 5px;
}