/* NAVBAR STYLING STARTS */
#navbar {
    display: flex;
    align-items: center;
    height: var(--height);
    background-color: white;
    z-index: 998;
    position: fixed;
    width: 100%;
}

#start {
    align-items: center;
    display: flex;
    overflow: hidden;
    padding-inline-end: 20px;
}

#center {
    align-items: center;
    display: flex;
    justify-content: center;
}

#end {
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 20px;
    text-align: end;
    white-space: nowrap;
}

#end, #start {
    flex: 1;
}

#title {
    font-size: .87rem;
    font-weight: 500;
    margin-inline-start: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-inline-end: 16px;
}

.open-new{
  background-color: var(--iconColor);
  padding: 5px 5px 3px 5px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
}

#center, #end, #menuButton, :host([loading_]) paper-progress {
    opacity: 1;
    visibility: visible;
}

#center, #end, paper-progress {
    transition: opacity .1s cubic-bezier(0,0,.2,1);
}

#zoom-level {
    background: rgba(208, 208, 208, 0.5);;
    border: 1px solid black;
    border-radius: 3px;
    caret-color: currentColor;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0 4px;
    outline: 0;
    padding: 5px;
    text-align: center;
    width: 6ch;
}

#current-page {
    background: rgba(208, 208, 208, 0.5);;
    border: 1px solid black;
    border-radius: 3px;
    caret-color: currentColor;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0 4px;
    padding: 10px;
    outline: 0;
    text-align: center;
    width: 7ch;
}

#next-page{
    margin-top: 5px;
}

#prev-page{
    margin-top: 5px;
}

#zoom-in{
    margin-top: 5px;
}

#zoom-out{
    margin-top: 5px;
}

.verticalToolbarSeparator {
    display: block;
    margin: 5px 2px;
    width: 1px;
    height: 33px;
    background-color: black;
  }

  .scale-on-hover {
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  .scale-on-hover:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .padding{
    position: relative;
    min-width: 16px;
    margin: 2px 1px;
    padding: 2px 6px 0;
    border: none;
    border-radius: 2px;
    color: var(--main-color);
    font-size: 12px;
    line-height: 14px;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
  }

  .material-icons{
    font-size: 26px;
  }



/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
    font-size: 20px;
    user-select: none;
    padding-left: 20px;
    padding-right: 20px;
}


/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    #menu { 
        display:none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;

    }
    #menu li:hover {
        display: inline-block;
        background-color:white;
        transition: 0.3s ease;
    }
    #menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ #menu{
        display: block;
    }
    .hamburger {
        display: block;
        margin-right: 10px;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: white;
    }
}

/* CSS toggl button highlight */
/* CSS toggl button highlight */
.switch {
  margin-top: 2px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-left: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--iconColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.slider.round {
  border-radius: 27px;
}
.slider.round:before {
  border-radius: 50%;
}

#toggle{
  background-color: var(--iconColor);
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}