/* NAVBAR STYLING STARTS */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    z-index: 999;
    position: fixed;
    width: 100%;
}
#nav-links a {
    color: var(--iconColor);
    font-size:20px;
}
/* LOGO */
#logo {
    font-size: 32px;
}
/* NAVBAR MENU */
#menu {
    display: flex;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
}
#menu li:hover {
    transform: scale(1.25, 1.25);
    transition: 0.3s ease;
}
#menu li {
    padding: 5px 14px;
    align-content: center;
    display:grid
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

#padding{
    margin-left: 15px;
    padding-right: 13px;
    border-right: 3px solid black;
}

#open-new{
    border:none;
    color:white;
    font-size:15px;
    padding:10px 30px 10px 30px;
    background: linear-gradient(to right, #2f4858,#27596b,#166a7a,#007c84,#008e89,#119f89);
    border-radius: 15px;
}



/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 
/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    #menu { 
        display:none;
        position: absolute;
        background-color: white;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    #menu li:hover {
        display: inline-block;
        background-color:white;
        transition: 0.3s ease;
    }
    #menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ #menu{
        display: block;
    }
    .hamburger {
        display: block;
        margin-right: 10px;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: white;
    }
}