/* NAVBAR STYLING STARTS */
#navbar {
    display: flex;
    align-items: center;
    height: var(--height);
    background-color: white;
    z-index: 998;
    position: fixed;
    width: 100%;
}

#start {
    align-items: center;
    display: flex;
    overflow: hidden;
    padding-inline-end: 20px;
}

#center {
    align-items: center;
    display: flex;
    justify-content: center;
}

#end {
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 20px;
    text-align: end;
    white-space: nowrap;
}

#end, #start {
    flex: 1;
}

#title {
    font-size: .87rem;
    font-weight: 500;
    margin-inline-start: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-inline-end: 16px;
}

.open-new{
  background-color: var(--iconColor);
  padding: 5px 5px 3px 5px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
}

#center, #end, #menuButton, :host([loading_]) paper-progress {
    opacity: 1;
    visibility: visible;
}

#center, #end, paper-progress {
    transition: opacity .1s cubic-bezier(0,0,.2,1);
}

#zoom-level {
    background: rgba(208, 208, 208, 0.5);;
    border: 1px solid black;
    border-radius: 3px;
    caret-color: currentColor;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0 4px;
    outline: 0;
    padding: 5px;
    text-align: center;
    width: 6ch;
}

#current-page {
    background: rgba(208, 208, 208, 0.5);;
    border: 1px solid black;
    border-radius: 3px;
    caret-color: currentColor;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    margin: 0 4px;
    padding: 10px;
    outline: 0;
    text-align: center;
    width: 7ch;
}

#next-page{
    margin-top: 5px;
}

#prev-page{
    margin-top: 5px;
}

#zoom-in{
    margin-top: 5px;
}

#zoom-out{
    margin-top: 5px;
}

.verticalToolbarSeparator {
    display: block;
    margin: 5px 2px;
    width: 1px;
    height: 33px;
    background-color: black;
  }

  .scale-on-hover {
    transition: all .2s ease-in-out;
    cursor: pointer;
  }
  .scale-on-hover:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .padding{
    position: relative;
    min-width: 16px;
    margin: 2px 1px;
    padding: 2px 6px 0;
    border: none;
    border-radius: 2px;
    color: var(--main-color);
    font-size: 12px;
    line-height: 14px;
    user-select: none;
    cursor: default;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
  }

  .material-icons{
    font-size: 26px;
  }

  .no-width{
    width: 0;
  }
  
  .half-width{
    width: 50%;
  }
  
  .full-width{
    width: 100%;
  }
  
  #num-pages {
    position: relative;
  }
  
  #num-pages .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    top: -10px;
    left: 200%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #045;
    cursor: auto;
  }
  
  #num-pages .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #045 transparent transparent;
  }
  
  #num-pages:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .material-icons{
    user-select: none;
  }



/* CSS toggl button highlight */
/* CSS toggl button highlight */
.switch {
  margin-top: 2px;
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
  margin-left: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--iconColor);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.slider.round {
  border-radius: 27px;
}
.slider.round:before {
  border-radius: 50%;
}

#toggle{
  background-color: var(--iconColor);
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

input[type="checkbox"] {
  display: none;
}

.hamburger {
  font-size: 20px;
  user-select: none;
  padding-left: 20px;
  padding-right: 20px;
}


/* CSS for tooltip */

.tooltip-text {
  visibility: hidden;
  position: absolute;
  top: 30px;
  left: -140%;
  z-index: 999;
  width: 240px;
  color: white;
  font-size: 12px;
  background-color: rgba(85, 85, 85, 0.5);
  text-align: center;
  border-radius: 6px;
  padding: 10px 0 10px 0;
  cursor: default;
}

.sidetoolbar:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.padding:hover .tooltip-text{
  visibility: visible;
}

.w-90{
  width: 90px;
}

.w-120{
  width: 120px;
}
.w-140{
  width: 140px;
}
.w-180{
  width: 180px;
}

.question-mark-tutorial{
  transform: scale(0.7);
  cursor: pointer;
  background-color: var(--color);
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  right: -10px;
  z-index: 999;
}


/* Css for Reference */
#pop-up{
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: 10px;
}

#content-reference-div{
  width: 250px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
}

#pop-up-title{
  color: black;
  margin-left: 20px;
  font-size: 13px;
  font-weight: 900;
  align-items: left;
}

#hr-pop-up{
  color: black;
  width: 90%;
  margin-top: -5px;
}

#pop-up-text{
  color: black;
  text-align: justify;
  font-weight: 200;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 9px;
  z-index: 999;
}

#image-pop-up{
  width: 250px;
  height: auto;
}

#side-page-reference-btn{
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border-color: var(--iconColor);
  background-color: var(--iconColor);
  margin-bottom: -20px;
  margin-left: -20px;
}

#open-in-the-side-icon{
  color: white;
  cursor: pointer;
  transform: scale(0.8);
}


