@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
}

#second-text{
  margin-top: -55px;
}

.third-text{
  font-weight: 900;
  font-size:15px;
}

#pdf-viewer{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f5f5f5;
}

#pdf-container{
  background-color: #f5f5f5;
  transition: 0.5s;
  display: flex;
}


.zoom:hover,
.print-button:hover {
    background-color: #ddd;
    color: var(--color);;
    opacity: 0.8;
    cursor: pointer;
}

.navigation {
    margin: 0;
    background-color: #ffffff;
    color: #000;
    padding: 0.3rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navigation__item {
    margin: 0.5rem;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}


.round {
    border-radius: 50%;
}

.canvas__container {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#num-pages{
  text-align: center; 
  color: var(--iconColor); 
  font-weight: 600; 
  font-size: small;
}

hr{
  width: 70%;
  border: 1px solid;
  color: var(--iconColor)
}

.zoom {
    color: var(--color);;
    outline: #fff;
    border: 1px solid var(--color);;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 12px 12px;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 1rem;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    text-align: center;
    width: 20%;
    height: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.disabled {
    color: #C7C7C7 !important;
    pointer-events: none;
}

.print-button {
    border: none;
    color: var(--color);;
    outline: #fff;
    border: 1px solid var(--color);;
    border-radius: 50%;
    padding: 12px 12px;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: var(--color);;
    border-color: var(--color);;
    cursor: pointer;
}

.btn:hover{
    background-color: #ddd;
    color: var(--color);
}

/* Hide Print button */
@media print {
    .navigation {
        display: none;
    }
}

/*CSS Floating Menu Button */
/*
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: var(--color);;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 70px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 55px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 22px;
}
.floating-container .float-element:nth-child(1) {
  background: #ffcd00;
  color: var(--color);;
}
.floating-container .float-element:nth-child(2) {
  background: var(--color);;
}
.floating-container .float-element:nth-child(3) {
  background: var(--color);;
}*/

/* CSS for SideToolBar */
#sidenav {
  padding: 8px 0px;
  width: 60px;
  position: fixed;
  top: 67px;
  left: 22px;
  z-index: 1;
}

#sidenav a {
  text-align: center;
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: var(--iconColor);
  display: block;
}

#sidenav a:hover {
  color: #ffcd00;
}

.sidetoolbar {
  width: 60px;
  background-color: #ffffff;
  border: solid #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.sidetoolbar:hover {
  border-radius: 15px;
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

/* Fade in the pseudo-element with the bigger shadow */
.sidetoolbar:hover::after {
  opacity: 1;
  border-radius: 15px;
}

#graph-maker{
    padding-top: 6px;
}

#summary-maker{
  padding-top: 6px;
}

#full-screen{
  padding-top: 6px;
}

#search{
  padding-top: 6px;
}
/* CSS for Loader */
#loader{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-loader{
  width: 50%;
  animation: myAnim 600ms ease 0s 80 normal forwards, fadeOut 1s;
  animation-fill-mode: forwards;
}

#loader > img {
  width: 100px;
}

#loader.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

#side-page-loader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #143552ed;
  z-index: 999;
}

#side-page-loader.transparent{
  background-color: rgba(0, 0, 0, 0.3);
}

#side-page-loader.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

#side-page-loader.error{
  background: rgba(40, 50, 59);
}
#error-message-div{
  position: absolute;
  top: 35%;
  left: 30%;
  align-items: center;
  text-align: center;
  cursor: default;
}

#error-message-div.hidden{
  visibility: hidden;
}

#error-message{
  position: relative;
  font-size: medium;
  font-weight: 100;
  color: var(--color);
  text-align: center;
}

#logo-broken{
  width: 25%;
  height: 25%;
}

#loader-bubbles {
  position: relative;
  top: 50%;
  left: 50%;
}

#loader-bubbles.move {
  animation: moveUp 500ms;
  animation-fill-mode: forwards;
}

#loader-bubbles.hidden {
  visibility: hidden;
}

@keyframes moveUp {
  0%   {left:50%; top:50%;}
  100%  {left:2%; top:2%;}
}

.bubble {
  animation: expand .75s ease-in-out infinite;
  border-radius: 20px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 20px;
  height: 20px;
  z-index: 999;
}

.bubble:nth-child(1) {
  background: #27ae60;
}

.bubble:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

.bubble:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

.bubble:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.55);
  }
}


@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes myAnim {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  display: flex;
  justify-content: space-between;
  position: inherit;
}

.no-width{
  width: 0;
}

.one-third-width{
  width: 30%;
}

.half-width{
  width: 50%;
}

.full-width{
  width: 100%;
}

#num-pages {
  position: relative;
}

#num-pages .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  top: -10px;
  left: 200%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: #045;
  cursor: auto;
}

#num-pages .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #045 transparent transparent;
}

#num-pages:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.material-icons{
  user-select: none;
}

/* CSS for the Text Render */

.textLayer {
    position: absolute;
    text-align: initial;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
    forced-color-adjust: none;
  }
  
  .textLayer span,
  .textLayer br {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;

    /* this value realize the collision between the span text and
    avoid jumping selection text between the lines */
    height: 60px;
  }
  
  /* Only necessary in Google Chrome, see issue 14205, and most unfortunately
   * the problem doesn't show up in "text" reference tests. */
  .textLayer span.markedContent {
    top: 0;
    height: 0;
  }
  
  .textLayer .highlight {
    margin: -1px;
    padding: 1px;
    background-color: rgba(180, 0, 170, 1);
    border-radius: 4px;
  }
  
  .textLayer .highlight.appended {
    position: initial;
  }
  
  .textLayer .highlight.begin {
    border-radius: 4px 0 0 4px;
  }
  
  .textLayer .highlight.end {
    border-radius: 0 4px 4px 0;
  }
  
  .textLayer .highlight.middle {
    border-radius: 0;
  }
  
  .textLayer .highlight.selected {
    background-color: rgba(0, 100, 0, 1);
  }
  
  .textLayer ::-moz-selection {
    background: rgba(0, 0, 255, 1);
  }
  
  .textLayer ::selection {
    background: rgba(0, 0, 255, 1);
  }
  
  /* Avoids https://github.com/mozilla/pdf.js/issues/13840 in Chrome */
  .textLayer br::-moz-selection {
    background: transparent;
  }
  .textLayer br::selection {
    background: transparent;
  }
  
  .textLayer .endOfContent {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  .textLayer .endOfContent.active {
    top: 0;
  }

  .textLayer section{
    position: absolute;
    cursor: pointer;
  }
  
  .textLayer section a{
    display: block;
    width: 100%;
    height: 25px;
  }

  /*Mobile (320px — 480px) and tablet (481px — 768px)*/
  /*TODO: include small screens (769px — 1024px)?*/
  @media (max-width: 768px) {
    #pdf-container.half-width {
      width: 0;
    }
    #side-page.half-width{
      width: 50%;
    }
  }


  /* KNOWLEDGE GRAPH STYLE */
  #knowledge-graph{
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  /* CSS for SidePage */
  #side-page {
    transition: 0.5s;
    background: #143552ed;
    position: relative;
    right: 0;
    overflow-x: hidden;
    z-index: 2;
    cursor: move;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 50px;
    z-index: 999;
    color: #f5f5f5;;
    cursor: pointer;
  }

  .closebtn:hover{
    color: red;
  }
  
  /*tooltip for question mark */
  #question-mark {
    position: absolute; 
    bottom:5%;
    right: 5%;
    color:white;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  #question-mark .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #f5f5f5c4;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    height: 185px;
    transition: .25s all ease;
  	transition-delay: .25s;
  }
  
  #question-mark .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f5f5f5c4 transparent transparent transparent;
  }
  
  #question-mark:hover .tooltiptext {
    visibility: visible;
  }

  #rect{
    font-family: initial;
    font-size: 14px;
    padding: 4px;
  }

  .css-slider {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: black;
    text-align: initial;
  }
  label {
    cursor: pointer;
    display: inline-block;
    background:inherit;
  }
  .slide {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-color: #c6cace;
  }
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    -webkit-transition: left .65s ease-out;
    transition: left .65s ease-out;
  }
  
  
  nav{
    background: inherit;
    display: flex;
    justify-content: center;
    color: #143552;
  }

  .tooltip-margin{
    margin: 5px;
    height: 100%;
  }

  header {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  header label {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 20px 5px;
  }
  header label:hover { background: #2e353b; }

  input#slide-1:checked ~ header label#slide-1, input#slide-2:checked ~ header label#slide-2, input#slide-3:checked ~ header label#slide-3, input#slide-4:checked ~ header label#slide-4 {
    background: #2e353b;
  }
  
  #paper-info{
    width: 50%; 
    z-index: 1;
    position: absolute;
    padding: 10px;
    color: white;
    box-shadow: rgb(34, 34, 34) 1px 1px 1px 1px;
    transition: all 500ms ease-out 0ms;
  }

  #expand-node-btn, #info-close-btn{
    float: right;
  }

  .hidden{
    display: none;
  }

  .info-label{
    font-weight: bold;
    float: left;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
    padding: 8px 15px 9px 0;
  }

  .info-display{
    margin: 0 0 10px;
    display: flex;
    align-items: center;
  }

  .info-display::before {
    display: table;
    content: "";
    line-height: 0;
  }

  .info-display::after {
    clear: both;
  }

  .info-text{
    float: right;
    width: 60%;
    margin: 0;
  }

  .info-title{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
 }

  /* Css for Reference */
  #pop-up{
    position: absolute;
    width: auto;
    height: 50px;
    background-color: transparent;
    border-radius: 25px;
  }

  #pop-up-title{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
  }

  #content-reference-div{
    width: auto;
  }

  #pop-up-content{
    color: white;
    text-align: justify;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
  }

  #side-page-reference-btn{
    position: relative;
    float: right;
    width: auto;
    height: auto;
    font-size: 9px;
    margin-top: -40px;
    border-radius: 20px;
    background-color: #045;
    transform: scale(0.8);
  }

  #open-in-the-side-icon{
    margin-top: 13px;
  }


 /* CSS for Graph Depth Slider */
 #slider-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  transform: scale(0.7);
 }

 #slider{
  -webkit-appearance: none; 
  appearance: none;
 }

 #labels-slider{
  margin-top: 4%;
  color: #f5f5f5;
  font-size: 15px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
 }
 #graph-depth {
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;  
  background: #f5f5f5;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#graph-depth::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--color);
  cursor: pointer;
}

#graph-depth::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--color);
  cursor: pointer;
}

  #pdf-reference{
    height: 841px;
    width: 595px;
  }

  #side-page-reference-container.moveIn{
    animation: fadeIn 20s;
    animation-fill-mode: forwards;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
      visibility: inherit;
    }
  }

  #close-btn-reference{
    position: absolute;
    margin-top: 2rem;
    right: 46rem;
    font-size: 40px;
    z-index: 999;
    color: black;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  #close-btn-reference:hover{
    color: red;
  }

  #close-btn-reference.moveIn{
    animation: fadeIn 60s;
    animation-fill-mode: forwards;
  }

  /* CSS for tooltip */

  .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    width: 150px;
    color: white;
    font-size: 12px;
    background-color: rgba(85, 85, 85, 0.5);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .sidetoolbar:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  #top {
    top: -40px;
    left: -50%;
  }
  
  #top::before {
    top: 80%;
    left: 45%;
  }
  
  #bottom {
    top: 25px;
    left: -50%;
  }
  
  #bottom::before {
    top: -5%;
    left: 45%;
  }
  
  #left {
    top: -8px;
    right: 120%;
  }
  
  #left::before {
    top: 35%;
    left: 94%;
  }
  
  #right {
    top: 15px;
    left: 120%;
  }
  
  #right::before {
    top: 35%;
    left: -2%;
  }

  /* Css for Summary Key Component */

#side-page-summary{
  transition: 0.5s;
  position: relative;
  right: 0;
  overflow-x: hidden;
  z-index: 2;
  width: 600px;
}

#accordion-container{
  width: 90%;
  float: right;
  background: #143552ed;
  height: 100%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 17px;
  font-weight: 600;
}

.active, .accordion:hover {
  background-color: #ccc;;
}

.panel {
  padding: 0 18px;
  background-color: var(--color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;
  margin-bottom: 1px;
}

.accordion:after {
  content: '\025bc';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25b2"; 
}

#close-btn-summary{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  padding: 5px;
  border-radius: 5px;
  z-index: 0;
  color: #000;
}
#close-btn-summary:hover{
  color: red;
}

  