@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0;
}

#second-text{
  margin-top: -55px;
}

.third-text{
  font-weight: 900;
  font-size:15px;
}

#pdf-viewer{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  background-color: #f5f5f5;
}

#pdf-container{
  background-color: #f5f5f5;
  transition: 0.5s;
  display: flex;
}

header{
    height: 60px;
}

.zoom:hover,
.print-button:hover {
    background-color: #ddd;
    color: var(--color);;
    opacity: 0.8;
    cursor: pointer;
}

.navigation {
    margin: 0;
    background-color: #ffffff;
    color: #000;
    padding: 0.3rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navigation__item {
    margin: 0.5rem;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: var(--color);;
    color: white;
}

.round {
    border-radius: 50%;
}

.canvas__container {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#num-pages{
  text-align: center; 
  color: var(--iconColor); 
  font-weight: 600; 
  font-size: small;
}

hr{
  width: 70%;
  border: 1px solid;
  color: var(--iconColor)
}

.zoom {
    color: var(--color);;
    outline: #fff;
    border: 1px solid var(--color);;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 12px 12px;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 1rem;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    text-align: center;
    width: 20%;
    height: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 1px;
    margin-left: 5px;
    margin-right: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.print-button {
    border: none;
    color: var(--color);;
    outline: #fff;
    border: 1px solid var(--color);;
    border-radius: 50%;
    padding: 12px 12px;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: var(--color);;
    border-color: var(--color);;
    cursor: pointer;
}

.btn:hover{
    background-color: #ddd;
    color: var(--color);;
}

/* Hide Print button */
@media print {
    .navigation {
        display: none;
    }
}

/*CSS Floating Menu Button */
/*
@-webkit-keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
@keyframes come-in {
  0% {
    -webkit-transform: translatey(100px);
            transform: translatey(100px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
  }
  70% {
    -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
  }
  100% {
    -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
    opacity: 1;
  }
}
.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  -webkit-transform: translatey(5px);
          transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
          animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
          animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
          animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: var(--color);;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 70px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 55px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 22px;
}
.floating-container .float-element:nth-child(1) {
  background: #ffcd00;
  color: var(--color);;
}
.floating-container .float-element:nth-child(2) {
  background: var(--color);;
}
.floating-container .float-element:nth-child(3) {
  background: var(--color);;
}*/

/* CSS for SideToolBar */
#sidenav {
  padding: 8px 0px;
  width: 60px;
  position: fixed;
  top: 67px;
  left: 22px;
  z-index: 1;
}

#sidenav a {
  text-align: center;
  padding: 8px 0px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: var(--iconColor);
  display: block;
}

#sidenav a:hover {
  color: #ffcd00;
}

.sidetoolbar {
  width: 60px;
  background-color: #ffffff;
  border: solid #ffffff;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.sidetoolbar:hover {
  border-radius: 15px;
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}

/* Fade in the pseudo-element with the bigger shadow */
.sidetoolbar:hover::after {
  opacity: 1;
  border-radius: 15px;
}

#graph-maker{
    padding-top: 6px;
}

#full-screen{
  padding-top: 6px;
}

#search{
  padding-top: 6px;
}
/* CSS for Loader */
#loader{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #489c8a;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-loader{
  width: 50%;
  animation: myAnim 800ms ease 0s 2 normal forwards, fadeOut 1s;
  animation-fill-mode: forwards;
}

#loader > img {
  width: 100px;
}

#loader.hidden{
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes myAnim {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-right .5s;
  display: flex;
  justify-content: space-between;
  position: inherit;
}

.no-width{
  width: 0;
}

.half-width{
  width: 50%;
}

.full-width{
  width: 100%;
}

#num-pages {
  position: relative;
}

#num-pages .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  top: -10px;
  left: 200%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: #045;
  cursor: auto;
}

#num-pages .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #045 transparent transparent;
}

#num-pages:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.material-icons{
  user-select: none;
}

/* CSS for the Text Render */

.textLayer {
    position: absolute;
    text-align: initial;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    opacity: 0.2;
    line-height: 1;
    -webkit-text-size-adjust: none;
       -moz-text-size-adjust: none;
            text-size-adjust: none;
    forced-color-adjust: none;
  }
  
  .textLayer span,
  .textLayer br {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;

    /* this value realize the collision between the span text and
    avoid jumping selection text between the lines */
    height: 60px;
  }
  
  /* Only necessary in Google Chrome, see issue 14205, and most unfortunately
   * the problem doesn't show up in "text" reference tests. */
  .textLayer span.markedContent {
    top: 0;
    height: 0;
  }
  
  .textLayer .highlight {
    margin: -1px;
    padding: 1px;
    background-color: rgba(180, 0, 170, 1);
    border-radius: 4px;
  }
  
  .textLayer .highlight.appended {
    position: initial;
  }
  
  .textLayer .highlight.begin {
    border-radius: 4px 0 0 4px;
  }
  
  .textLayer .highlight.end {
    border-radius: 0 4px 4px 0;
  }
  
  .textLayer .highlight.middle {
    border-radius: 0;
  }
  
  .textLayer .highlight.selected {
    background-color: rgba(0, 100, 0, 1);
  }
  
  .textLayer ::-moz-selection {
    background: rgba(0, 0, 255, 1);
  }
  
  .textLayer ::selection {
    background: rgba(0, 0, 255, 1);
  }
  
  /* Avoids https://github.com/mozilla/pdf.js/issues/13840 in Chrome */
  .textLayer br::-moz-selection {
    background: transparent;
  }
  .textLayer br::selection {
    background: transparent;
  }
  
  .textLayer .endOfContent {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  
  .textLayer .endOfContent.active {
    top: 0;
  }

  .textLayer section{
    position: absolute;
    cursor: pointer;
  }
  
  .textLayer section a{
    display: block;
    width: 100%;
    height: 25px;
  }

  /*Mobile (320px — 480px) and tablet (481px — 768px)*/
  /*TODO: include small screens (769px — 1024px)?*/
  @media (max-width: 768px) {
    #pdf-container.half-width {
      width: 0;
    }
    #side-page.half-width{
      width: 50%;
    }
  }


  /* KNOWLEDGE GRAPH STYLE */
  #knowledge-graph{
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
  /* CSS for SidePage */
  #side-page {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    right: 0;
    overflow-x: hidden;
    z-index: 2;
  }

  .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 50px;
    z-index: 2;
    color: black;
    cursor: pointer;
  }

  .closebtn:hover{
    color: red;
  }

  /* Css for Reference */
  #pop-up{
    position: absolute;
    width: auto;
    height: 50px;
    background-color: transparent;
    border-radius: 25px;
  }

  #pop-up-title{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
  }

  #content-reference-div{
    width: auto;
  }

  #pop-up-content{
    color: white;
    text-align: justify;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 12px;
  }

  #side-page-reference-btn{
    position: relative;
    float: right;
    width: auto;
    height: auto;
    font-size: 9px;
    margin-top: -40px;
    border-radius: 20px;
    background-color: #045;
    transform: scale(0.8);
  }

  #open-in-the-side-icon{
    margin-top: 13px;
  }

  #pdf-reference{
    height: 841px;
    width: 595px;
  }

  #side-page-reference-container.moveIn{
    animation: fadeIn 20s;
    animation-fill-mode: forwards;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
      visibility: inherit;
    }
  }

  #close-btn-reference{
    position: absolute;
    margin-top: 2rem;
    right: 46rem;
    font-size: 40px;
    z-index: 999;
    color: black;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  #close-btn-reference:hover{
    color: red;
  }

  #close-btn-reference.moveIn{
    animation: fadeIn 100s;
    animation-fill-mode: forwards;
  }

 